[Unit]
Description=Chromecast Controls
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=%i
ExecStart=/usr/bin/python3 /usr/local/bin/chromecast_controls.py

[Install]
WantedBy=multi-user.target
